body{
    border:black solid;
    margin:280px;
    padding:60px;
    width:50%
    
}
.d1 {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px lightgray solid;
    font-size: large;
}
.d1 i{
    text-align: right;
    margin-top: 30px;
    color: lightgray;
}